<h1>Add new Product</h1>
<div class="row">
    <%= form_for(@product) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :ASIN %>
        <%= f.text_field :ASIN %>
        <%= f.submit "Create", class:"btn btn-large btn-primary" %>
    <% end %>
</div>
